.sign_parent {
  gap: 20px !important;
}

.sign_form,
.sign_parent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.switch_auth {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin-bottom: 1rem;
}

.switch_auth>*:hover {
  opacity: 100%;
  background: #fff;
  color: #1f1f1f;
}

.switch_auth:has(button:hover)>button:not(:hover) {
  background: transparent !important;
  color: #ffffff90 !important;
}

.switch_auth>* {
  width: 100%;
  border-radius: 0px;
  background: transparent;
  color: #ffffff90;
}

.switch_auth_on {
  background: #fff !important;
  color: #1f1f1f !important;
  border: 1px solid #fff !important;
}

.verify_container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

